{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Single Contact</title>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
  </head>
  <body>
    <div class="container">
    <h1>Details of {{contact.name}}</h1>
    <div class="paragraph">
    <p>It's a pleasure to meet you.</p>
    </div>
    </div>
    <div class="contact">
        <p>{{contact.name}}: {{contact.email}}</p>
        <p>{{contact.phone}}</p>
    </div>
    <script src="{% static 'js/myscript.js' %}">
      const name = document.currentScript.dataset.contact.name;
      console.log(name);
    </script>
  </body>
</html>
